:root {
  /*Fonts*/
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;

  /*Text colors*/
  --main-txt-cl: #212121;
  --second-txt-cl: #000000;
  --light-txt-cl: #757575;
  --accent-txt-cl: #2196f3;
  --second-light-txt-cl: #afb1b8;

  /*Background colors*/
  --main-bg-cl: #ffffff;
  --secondary-bg-cl: #2f303a;
  --accent-bg-cl: #2196f3;
  --secondary-accent-bg-cl: #188ce8;
  --light-bg-cl: #f5f4fa;

  /*Others*/
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Custom styles*/

/* .body {
  color: var(--main-txt-cl);
  background-color: var(--main-bg-cl);
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
} */
/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */
/* .list {
  margin: 0;
  padding: 0;
}

.header {
  background: var(--main-bg-cl);
  border: 1px solid #ececec;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

.container {
  width: 1200px;

  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
} */

/*Утиліти*/

/* .header__container {
  display: flex;
  align-items: center;
} */

/*Menu Nav*/

 /* .nav {
  display: flex;
  align-items: center;
}

.nav__list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}
.nav__list--contacts {
  margin-left: auto;
}
.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-txt-cl);

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  transition: color var(--animation); 
}


.nav__item {
  position: relative;
}
.nav__item--socials {
  text-align: left;
  display: block;
  }

.nav__link:hover::after {
  position: absolute;
  left: 0;
  bottom: -1px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-txt-cl);
  border-radius: 2px;
}
.nav__contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav__contacts--link.link {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: var(--light-txt-cl);
}
.nav__contacts--link.link {
  color: var(--light-txt-cl);
  text-decoration: none;
  fill: currentColor;
  transition: color var(--animation);
}


.nav__icon {
  fill: none;
  fill: var(--light-txt-cl);

  transition: color var(--animation);
}
.nav__icon:hover,
.nav__icon:focus {
  color: var(--accent-txt-cl);
}
.nav__icon--contacts {
  fill: currentColor;
}  */

/*logo*/

 /* .nav__logo {
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--second-txt-cl);
  }
  
  .nav__logo.current {
    color: var(--accent-txt-cl);
  }
  
  .link .current {
    color: var(--accent-txt-cl);
  } */

  /*header*/

/* .header .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--main-txt-cl);
  
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    transition: color var(--animation);
  }
  .header .link:hover,
  .header .link:focus {
    color: var(--accent-txt-cl);
  }
  
  .link.current {
    color: var(--accent-txt-cl);
    transition: color var(--animation);
  }
  
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    content: "";
    display: block;
    width: 100%;
    height: 4px;
  
    border-radius: 2px;
  }   */

/*section Ефективні рішення для вашого бізнесу*/

/* .section__nav {
    width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
  
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/backgroundimage.jpg);
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--secondary-bg-cl);
    text-align: center;
  }

  .section__nav--title {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    color: var(--main-bg-cl);
    margin-bottom: 30px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  
.section__nav--title {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
} */

/*btn*/

/* .btn {
    display: inline-block;
    padding: 10px 32px;
    text-align: center;
    border: none;
  
    background-color: var(--accent-bg-cl);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--main-bg-cl);
    transition: background-color var(--animation);
  }
  
  .btn:hover,
  .btn:focus {
    background-color: var(--secondary-accent-bg-cl);
  } */


/*Наші особливості*/

/* .section__feature {
  padding-top: 94px;
}


.section__feature-list {
  display: flex;
  gap: 30px;
}
.section__feature-item {
  width: 260px;
}

.list-item {
  display: block;
  color: var(--light-txt-cl);
  text-decoration: none;
  transition: color var(--animation);
}

.list-item .nav__contacts--link:hover,
.list-item .nav__contacts--link:focus {
  color: var(--accent-txt-cl);
}
.list-item {
  background: var(--main-bg-cl);
  width: 270px;
}
.list-item__icon {
  display: flex;
  height: 120px;

  justify-content: center;
  align-items: center;

  background-color: var(--light-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
}
.list-item__title {
  margin-top: 0;
}

.list-item__title {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  line-height: calc(16 / 14);
  color: var(--main-txt-cl);
}
.list-item__list {
  margin: 0;
}

.list-item__list {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--light-txt-cl);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
} */

/*About us*/

/* .section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section__title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  line-height: calc(42 / 36);
  color: var(--main-txt-cl);
  letter-spacing: 0.03em;
  color: var(--main-txt-cl);
}

.section__title {
  padding: 0;
  margin: 0;
  text-align: center;
  margin-bottom: 50px;
}
.list-item__group {
  width: 370px;
}

.thumb {
  content: "";
  position: relative;
}
.thumb__img {
  display: block;
} */

/*about us*/

/* .overlay {
  content: "";
  position: absolute;
  top: 75%;
  left: 0;

  width: 100%;
  height: 25%;
  background-color: rgba(47, 48, 58, 0.8);

  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay__name {
  margin: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-bg-cl);
}
 */

/*our team*/

/* .section__team {
  background: var(--light-bg-cl);
}

.list-item__img {
  display: block;
}
.team {
  padding: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: calc(19 / 16);
  margin: 0;
  text-align: center;
  color: var(--main-txt-cl);
}

.team__position {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--light-txt-cl);
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.socials {
  display: flex;
  gap: 10px;
  padding: 0;
  justify-content: center;
  text-align: center;
}
.socials__item {
  list-style: none;
  text-align: left;
  display: block;
}
.socials__link {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--second-light-txt-cl);
  background-color: var(--main-bg-cl);
  justify-content: center;
  align-items: center;
  transition: color var(--animation), background-color var(--animation);

  border-radius: 50%;
}

.socials__link:hover,
.socials__link:focus {
  color: var(--main-bg-cl);
  background-color: var(--accent-bg-cl);
}

.socials__icon {
  fill: currentColor;}



.socials__link--icon {
  display: flex;
  width: 44px;
  height: 44px;
  color: var(--main-bg-cl);
  background-color: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color var(--animation);
}
.socials__link--icon:hover,
.socials__link--icon:focus {
  background-color: var(--accent-txt-cl);
}
.socials__link--icon.current {
  background-color: var(--accent-bg-cl);
}
.socials__title {
  color: var(--main-bg-cl);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.socials__list {
  display: flex;
  gap: 10px;
}
.socials__nav {
  margin-left: 70px;
} */

/*Clients*/

/* .clients {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 30px;
  justify-content: center;
}
.clients__item {
  list-style: none;
  width: 170px;
  height: 92px;
}

.clients__link {
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--second-light-txt-cl);
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color var(--animation), border-color var(--animation);
}
.clients__link:hover,
.clients__link:focus {
  color: var(--accent-bg-cl);
  border-color: var(--accent-bg-cl);
} */

/*Footer*/

/* .footer {
  background: var(--secondary-bg-cl);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__nav {
  display: flex;
  align-items: baseline;
}

.footer__logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--main-bg-cl);
}
.footer__logo.active {
  color: var(--accent-txt-cl);
} 
 .adress {
  margin-top: 20px;
}
.adress__item {
  text-align: left;
  display: block;
}

.adress__item:not(:last-child) {
  margin-bottom: 9px;
}
.adress__link {
font-family: "Roboto", sans-serif;
font-style: normal;
text-decoration: none;
font-size: 14px;
line-height: calc(24 / 14);
letter-spacing: 0.03em;
color: var(--main-bg-cl);
}
.adress__contacts {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  text-decoration: none;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--main-bg-cl);
}

.adress__contacts {
  
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--animation);
}
.adress__contacts:hover,
.adress__contacts:focus {
  color: var(--accent-txt-cl);
} */

/*Form*/
.form__nav {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-bg-cl);
}


.form__field {
   position: absolute;
  display: flex;
  padding: 0;
  margin: 0;

  gap: 12px;
  text-decoration: none;
}
.form {
  width: 570px;
  margin-left: 93px;

}

.form input {
  width: 358px;
  margin: 0;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  transition: border-color var(--animation);
}
.form input:hover {
  border-color: var(--accent-bg-cl);
}

.form input::placeholder {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: var(20 / 16);
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
.form__btn {
  display: inline-flex;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  cursor: pointer;
  border: none;
  padding: 10px 28px;
  

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--main-bg-cl);
  background-color: var(--accent-bg-cl);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--animation);
}
.form__btn:hover,
.form__btn:focus {
  background-color: var(--secondary-accent-bg-cl);
}
.btn__icon {
  
  fill: currentColor;
  margin-left: 10px;
}

/*Модальне вікно*/

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: opacity var(--animation);
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--animation);

  height: 581px;
  width: 528px;

  background-color: var(--main-bg-cl);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal__btn--close {
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--second-txt-cl);
  background: var(--main-bg-cl);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: background-color var(--animation);
}

.modal__close {
  display: flex;
  width: 30px;
  height: 30px;

  padding: 6px;

  background-color: var(--main-bg-cl);
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__icon {
  fill: currentColor;
}
.modal__icon:hover,
.modal__icon:focus {
  color: var(--accent-txt-cl);
}
 */


/*Register form*/

.register__form {
  display: block;
  text-align: center;
  margin-bottom: 12px;
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: var(23 /20);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}
.register__form--group {
  margin-bottom: 20px;
}

.register__form--field {
  position: relative;
  display: block;
  margin-bottom: 10px;

  
}


.register__form--label {
  display: block;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--light-txt-cl);

}



.register__form--input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  padding-right: 40px;


  outline: transparent;
  transition: border var(--animation);
}

.register__form--input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.register__form--icon {
  position: absolute;
  top: 63%;
  right: 62%;
  transform: translateY(-50%);
  transition: fill var(--animation);
}
.register__form--input:focus + .register__form--icon {
  fill: var(--accent-txt-cl);
}


.register__form--heading {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  margin-bottom: 4px;

  letter-spacing: 0.01em;

  color: var(--light-txt-cl);
}
.register__form--message {
  display: block;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  

  transition: border var(--animation);
}

.register__form--message:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}
.register__form--message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

}


.register__form--agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  gap: 7px;

  height: 24px;
}
.icon-check {
  opacity: 0;
  transition: opacity var(--animation);
}
.register__form--checkbox:checked + .register__form--icons .icon-check {
  opacity: 1;
}

.icon-uncheck {
  opacity: 1;
  transition: opacity var(--animation);
}
.register__form--checkbox:checked + .register__form--icons .icon-uncheck {
  opacity: 0;
}

.register__form--desk {
  user-select: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: var(24 / 14);

  letter-spacing: 0.03em;

  color: var(--light-txt-cl);
}

.register__form--link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: var(24 / 14);

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: var(--accent-txt-cl);
}

.register__form--btn {
  display: block;
  margin: auto;
}
