/*Form*/

.form {
    
   
    justify-content: center;

    @media screen and (min-width: 768px) {
width: 450px;
display: block;

    }

    @media screen and (min-width: 1200px) {
      width: 570px;
      margin-left: 93px;
      text-align: left;
    }
  
 
    &__nav {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    color: var(--main-bg-cl);
    
  }
  
  
    &__field {
     
      padding: 0;
      margin: 0;

      text-decoration: none;

      @media screen and (min-width: 768px) {
        // position: absolute;
      display: block;
       
        
      }

      @media screen and (min-width: 1200px) {
        display: flex;
        gap: 12px;
      }
      
  }
   
 
  
    & input {
    width: 358px;
    margin: 0;
  
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
  
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    transition: border-color var(--animation);
    margin-bottom: 20px;

    @media screen and (min_width: 768px) {
      margin-bottom: 0;
    }
  }

  & input:not(:last-child) {
    @media screen and (max-width: 480px) {
      margin-bottom: 20px;
    }
  }


    & input:hover {
    border-color: var(--accent-bg-cl);
  }
  

    & input::placeholder {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: var(20 / 16);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
  
    color: rgba(255, 255, 255, 0.6);
  }

  


}