.header .nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  
    color: var(--main-txt-cl);
  
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    transition: color var(--animation);
  }
  .header .link:hover,
  .header .link:focus {
    color: var(--accent-txt-cl);
  }
  
  .link.current {
    color: var(--accent-txt-cl);
    transition: color var(--animation);
  }
  
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    content: "";
    display: block;
    width: 100%;
    height: 4px;
  
    border-radius: 2px;
  } 