.nav {
    display: flex;
    align-items: center;


    &__list {
   

    @media screen and (min-width: 480px) {
      display: none;
     
    }

    @media screen and (min-width: 780px) {
    
      display: flex;
      margin-left: 87px;
      gap: 50px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 92px;
      
    }
   
  }


    &__list--contacts {
    margin-left: auto;

    @media screen and (min-width: 780px) {
    display: block;
    

    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }

  }
    &__link {
    

    @media screen and (min-width: 780px) {
      display: block;
    // padding-top: 21px;
    // padding-bottom: 21px;
  
  
    color: var(--main-txt-cl);
  
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    transition: color var(--animation); 
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: calc(16 / 14);
    }
  }
  
  
    &__item {
    position: relative;
  }

    &__item--socials {
    text-align: left;
   

    
    }
  
     &__link:hover::after {
    position: absolute;
    left: 0;
    bottom: -1px;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-txt-cl);
    border-radius: 2px;
  }

    &__contacts {
   
        @media screen and (min-width: 780px) {
            // display: block;
          // padding-top: 21px;
          // padding-bottom: 21px;
         padding-bottom: 10px;
        
        
        
          color: var(--main-txt-cl);
        
          text-decoration: none;
          font-weight: 500;
          font-size: 12px;
          line-height: calc(14 / 12);
          letter-spacing: 0.02em;
          transition: color var(--animation); 

           
          
          }

          &__contacts:not(:last-child) {

            @media screen and (min-width: 780px) {
            padding-bottom: 10px;
          }
        }

        
          @media screen and (min-width: 1200px) {
            padding-top: 32px;
          padding-bottom: 32px;
          font-size: 14px;
          line-height: calc(16 / 14);
          }
  }

    &__contacts--link.link {
    // display: flex;
    // gap: 10px;
    // justify-content: center;
    // align-items: center;
    // color: var(--light-txt-cl);

    @media screen and (min-width: 780px) {
      display: flex;
    margin-left: auto;
   gap: 8px;
   
    color: var(--light-txt-cl);
   
  
    }

    @media screen and (min-width: 1200px) {
      
    gap: 10px;
    justify-content: center;
    align-items: center;
   
    }
  }

    &__contacts--link.link {
    color: var(--light-txt-cl);
    text-decoration: none;
    fill: currentColor;
    transition: color var(--animation);
  }
    &__icon {
    fill: none;
    fill: var(--light-txt-cl);
    transition: color var(--animation);
    
  }
    &__icon:hover,
    &__icon:focus {
    color: var(--accent-txt-cl);
  }
    &__icon--contacts {
    fill: currentColor;
  }
}


/*portfolio*/






