.reviews {
    padding-top: 94px;
    padding-bottom: 94px;
    max-width: 1200px;
    margin: 0 auto;

      @media screen and (max-width:1199px) {
          display: none;
        }
        
      }

.reviews-set {
  
  
    display: flex;
    gap: 30px;
}

.reviews-item {
  position: relative;
    width: calc((100% - 60px) / 3);
  
}

.reviews-width {
  position: relative;
  width: calc((100% - 90px) / 4);
}
