/*About us*/
@media screen and (min-width: 1200px) {
  

.thumb {
    content: "";
    position: relative;
 
 
 
     &__img {
    display: block;
    width: 100%;
    height: auto;
  }
  @media screen and (min-width: 1200px){
    // margin: -5px;
  }

}
}

