@mixin fonts ($fw: 400, $fs: 12, $lh: 14, $ls: 0.01em) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh / $fs;
    letter-spacing: 0.01em;
}



@mixin logo ($fw:700, $fs: 26, $lh:31, $ls: 0.03em) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh / $fs;
    letter-spacing:  $ls;
}