/*about us*/

.overlay {
        content: "";
        position: absolute;
        top: 75%;
        left: 0;
  
        width: 100%;
        height: 25%;
        background-color: rgba(47, 48, 58, 0.8);
  
        display: flex;
        justify-content: center;
        align-items: center;
 


        &__name {
        margin: 0;
  
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
  
        color: var(--main-bg-cl);
  }
}
  