:root {
    /*Fonts*/
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
  
    /*Text colors*/
    --main-txt-cl: #212121;
    --second-txt-cl: #000000;
    --light-txt-cl: #757575;
    --accent-txt-cl: #2196f3;
    --second-light-txt-cl: #afb1b8;
  
    /*Background colors*/
    --main-bg-cl: #ffffff;
    --secondary-bg-cl: #2f303a;
    --accent-bg-cl: #2196f3;
    --secondary-accent-bg-cl: #188ce8;
    --light-bg-cl: #f5f4fa;
  
    /*Others*/
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /*Custom styles*/
  
  .body {
    color: var(--main-txt-cl);
    // background-color: var(--main-bg-cl);
    letter-spacing: 0.03em;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
//  margin: 0;
  }
  
  
  
  .header {
    // background: var(--main-bg-cl);
    border: 1px solid #ececec;
  }
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    // gap: 30px;
  

}
  
 .link {
  text-decoration: none;
  display: block;
 }
  
  /*Утиліти*/
  
 

  /*Наші особливості*/

.list-item  {
  // display: inline-block;
  color: var(--light-txt-cl);
  text-decoration: none;
  transition: color var(--animation);
  // width: 100%;
  // height: 100%;
}


  .list-item .nav__contacts--link:hover,
  .list-item .nav__contacts--link:focus {
  color: var(--accent-txt-cl);
}
  
  // .list-item {
  // background: var(--main-bg-cl);
  // }
  
  .list-item__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--light-bg-cl);
  border-radius: 4px;
  margin-bottom: 30px;
  
 
}




.list-item__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: calc(16 / 14);
  color: var(--main-txt-cl);
  
text-align: center;
  
  @media screen and (min-width: 768px) {

   text-align: left;
  }
  
  
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
  
}
  

.list-item__list {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--light-txt-cl);
  letter-spacing: 0.03em;
  margin: 0 auto;

}
.list-item__list:not(:last-child) {
  margin-bottom: 30px;
}


 .list-item__section {
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: calc(33 / 28);


text-align: center;
letter-spacing: 0.03em;

color: var(--main-txt-cl);

margin: 0;
margin-bottom: 50px;

 }


/*our team*/

.list-item__img {
  display: block;
max-width: 100%;
height: auto;
 
}


